.modal-cards {

    & .ant-form-item{
        margin: 0;
    }
    &__input {
        &.ant-input, &.ant-picker, &.ant-select{
            border-color: #d9d9d9;
            border-radius: 6px;
            height: 40px;
            color: #34495E;
            margin: 0;
        }
        &.ant-checkbox-wrapper {
            color: #34495E;
        }
    }
    & .ant-modal-title {
        font-size: 22px;
        color: #3498db;
        text-align: center;
    }
    &__container {
        margin-bottom: 20px;
        height: 650px;
        overflow-y: scroll;
    }
    &__title {
        font-weight: bold;
        margin-top: 15px;
        color: #34495e;
    }
    &__label {

        & .ant-form-item-label > label {
            font-size: 14px;
            font-weight: bold;
            color: #34495e;
        }
    }
    &__calendar {
        margin-left: 2%;
    }
    &__btn-delete {
        width: 20px;
        margin-left: 15px;
        display: flex;
        align-items: center;

        button {
            border: 1px solid #D9D9D9;
            border-radius: 5px;
            color: #3498db;
        }
    }
    &__add-guest {
        margin-top: 20px;
    }
    &__guest {
        border: 1px solid #d7d2d2;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px
    }
    &__container-owner {
        align-items: end;
        margin-bottom: 10px;
    }
}