.hotels-modal {

    &__title {

        &.ant-steps-item-process .ant-steps-item-container .ant-steps-item-content .ant-steps-item-title{
            color: #3498db;
            margin-bottom: 10px;
        }

        &.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title { 
            color: #34495E;
        }
    }

    & .ant-modal-content {
        padding-top: 40px
    }

    &__form {
        height: 600px;
        overflow-y: scroll;
    }

    &__content {

        margin: 0;
        & .ant-col.ant-form-item-label {

            text-align: left;
            >label {
                color: #34495E;
                font-weight: bold;
            }
        }
        .ant-form-item-row {
            display: inline-block;
            width: 100%;
        }
        & .ant-input-number{
            width: 95%;
            margin-bottom: 1rem;
            & .ant-input-number-input {
                height: 40px;
                color: #34495E;
            }
        }
        & .ant-form-item-control-input {
            width: 100%;
        }
        &__input-text {
            &.ant-input{
                border-color: #d9d9d9;
                border-radius: 6px;
                height: 40px;
                color: #34495E;
                margin-bottom: 0px;
            }
        }
        &__input {
            @extend .hotels-modal__content__input-text;
           
            &.ant-input{
                width: 95%;
                color: #34495E;
            }
        }
        textarea {
            margin-bottom: 1rem;
            color: #34495E;
        }
        &__checkbox {
            height: 40px;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            > label {
                color: #34495E;
            }
        }
    }
    &__input-package.ant-input{
        width: 70%;
        @extend .hotels-modal__content__input-text;
    }
    &__btn-package{
        width: 20%;
        left: 5%;
        
        &.ant-btn-primary{
            height: 40px;
        }
    }
    &__container-package{
        margin: 20px 0;

        & .ant-tag {
            color: #34495E;
        }
    }
    &__container-upload {
        & .ant-upload-select{
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    &__btn-upload.ant-btn {
        border-color: #d9d9d9;
        border-radius: 6px;
        height: 40px;
        width: 100%;
        color: #34495E;
    }
    &__btn-control.button {
        border-radius: 10px;
    }
}

@media screen and (max-width: 640px) {
    .hotels-modal {
        &__content {
            &__input {
                &.ant-input{
                    width: 100%;
                }
            }
        }
    }
}
